.menuHorizontal a {
    text-decoration: none;
}

.menuVertical a {
    text-decoration: none;
    color: white;
}

.menuHorizontal {
    height: 75%;
    font-size: 75%;
    transition: height .5s, font-size .5s;
}

.menuHorizontal:hover {
    height: 125%;
    font-size: 125%;
}

.menuVertical {
    background-color: deepskyblue;
    height: 20px;
    width: 100px;
    border: 1px solid black;
    
    transition: height 0.5s, width 0.5s, background-color 1s;
}

.menuVertical:hover{
    background-color: darkred;
    height: 20px;
    width: 150px;
}

#element{
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 2.5s;
    transform: rotate3d(1,1,1, 30deg);
    margin: 50px auto;
}

#element:hover, #element:focus{
    transform: rotate3d(1,1,1,180deg);
}

.face{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    font-size: 60px;
    color:black;
    
}

.left{
    background: rgba(0,0,210, 0.7);
    transform: rotateY(-90deg);
    translate: -50px;
}

.front{
    background: rgba(90,90,90, 0.7);
    transform: translateZ(50px);
}

.top{
    background: rgba(210, 210, 0, 0.7);
    transform: translateY(-50px) rotateX(90deg);
    
}

.bottom{
    background: rgba(210, 0, 210, 0.7);
    transform: rotateX(-90deg) translateZ(50px);
}

.back{
    background: rgba(0, 210, 0, 0.7);
    transform: rotateY(180deg) translateZ(50px);
}

.right{
    background: rgba(210, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(50px);
}

.barraProgreso{
    height: 35px;
    width: 1000px;
    background-color: gray;
    color: black;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-name: progreso;
    animation-duration: 3s;
    animation-delay: 1.5s;
}

@keyframes progreso {
    0% {background-color: white; width: 0px}
    33% {background-color: red; width: 333px;}
    66% {background-color: gold; width: 666px;}
    99% {background-color: darkgreen; width: 999px;}
}